<h1><%= @place["name"] %></h1>

<% if @current_user %>
<p>  
  <a class="btn btn-primary" href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>
<%end%>

<% if @current_user %>
 

  <div class="row">
  <% for post in @posts %>  
  <div class="col-md-4 col-sm-6">
    <% if post.user_id == @current_user.id%>
      <h3><%= post["title"] %></h3>
      <h4><%= post["posted_on"] %></h4>
      <p><%= post["description"] %></p>
     
    <% end %>

 <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post["image"] %>" class="img-fluid">
      <% end %>

    </div>

    

  <% end %>
   </div>

  

<% end %>




